body {
	background:#eee;
	font-family: 'sans-serif';
}

* {
	margin:0;
	padding:0;
	outline:none;
}

main {
	position:absolute;
	left:32.5%;
	top:35%;
	width:520px;
	margin:0 auto;
	display:block;
}

.error {
	width:280px;
	background:#fff;
	color:rgba(0,0,0,0.4);
	border:1px solid rgba(0,0,0,0.3);
	padding:40px;
	text-align: center;
	margin:0 auto;
}
form {
	padding:5px;
	background:#fff;
	border-radius: 5px;
}

form > input, form > button {
	width:92.5%;
	margin:0 auto;
	display:block;
	background:#fff;
	color:#ccc;
	border:1px solid #ccc;
	border-radius: 3px;
	padding:12px;
	margin-bottom: 5px;
	font-size:13px;
}
form > button {
	color:#999;
	background: #eee;
	border:1px solid #ccc;
}
